version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: mrv-booklore_server_1
      APP_PORT: 6060
      
  web:
    image: booklore/booklore:v1.15.0@sha256:595ff4c29ae2f4a4fae2c9fd45f0cb0a253dc4ceec242f3a55dba7c5ef51c07f
    # does not work rootless
    #user: "1000:1000"
    restart: on-failure
    environment:
      DATABASE_URL: ghcr.io/booklore-app/booklore:latest
      DATABASE_USERNAME: bookloreuser
      DATABASE_PASSWORD: booklorepass
    depends_on:
      db:
        condition: service_started
    volumes:
      - ${APP_DATA_DIR}/data/app:/app/data
      - ${APP_DATA_DIR}/data/books:/books

  db:
    image: mariadb:12.0.2@sha256:b30cc65b57a11a2e791ad5c06284e599fe9f1bf3fe9081a88d85bcf36389be4a
    user: "1000:1000"
    restart: on-failure
    environment:
      MARIADB_DATABASE: booklore
      MARIADB_USER: bookloreuser
      MARIADB_PASSWORD: booklorepass
      MARIADB_ROOT_PASSWORD: rootpass
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql
