version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: mrv-booklore_server_1
      APP_PORT: 6060
      
  web:
    image: ghcr.io/booklore-app/booklore:latest
    # does not work rootless
    #user: "1000:1000"
    restart: on-failure
    environment:
      DATABASE_URL: ghcr.io/booklore-app/booklore:latest
      DATABASE_USERNAME: bookloreuser
      DATABASE_PASSWORD: booklorepass
    depends_on:
      db:
        condition: service_started
    volumes:
      - ${APP_DATA_DIR}/data/app:/app/data
      - ${APP_DATA_DIR}/data/books:/books

  db:
    image: ghcr.io/booklore-app/booklore:latest
    user: "1000:1000"
    restart: on-failure
    environment:
      MARIADB_DATABASE: booklore
      MARIADB_USER: bookloreuser
      MARIADB_PASSWORD: booklorepass
      MARIADB_ROOT_PASSWORD: rootpass
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql
